<ul>
    <li>api/v1/login/
        <ul><li>POST: Login.</li></ul>
    </li>
    <hr>
    <li>api/v1/logout/
        <ul><li>POST: Logout.</li></ul>
    </li>
    <hr>
    <li>api/v1/user/
    	<ul><li>POST: Create user data</li></ul>
    </li>
    <li>api/v1/user/:id	
    	<ul><li>GET: Read user data by :id</li></ul>
    </li>
    <li>api/v1/user/:id
    	<ul><li>PUT: Updates user data by :id</li></ul>
    </li>
    <li>api/v1/user/:id	
        <ul><li>DELETE: Delete user data</li></ul>
    </li>
    <hr>
    <li>api/v1/ads/
    	<ul><li>POST: Create ads data</li></ul>
    </li>
    <li>api/v1/ads/:id
    	<ul><li>GET: Read ads data by :id</li></ul>
    </li>
    <li>api/v1/ads/:id
    	<ul><li>PUT: Updates ads data by :id</li></ul>
    </li>
    <li>api/v1/ads/:id
    	<ul><li>DELETE: Delete ads data by :id</li></ul>
    </li>
    <li>api/v1/ads/:state
        <ul><li>GET: Read ads data by :state</li></ul>
    </li>
    <li>api/v1/ads/:state/:category
        <ul><li>GET: Read ads data by :category of the :state</li></ul>
    </li>
</ul>
