@import "../../bower_components/boostrap-sass/assets/stylesheets/bootstrap";

@font-face {
	font-family: 'rudablack';
	src: url('fonts/ruda-black-webfont.eot');
	src: url('fonts/ruda-black-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/ruda-black-webfont.woff2') format('woff2'),
		 url('fonts/ruda-black-webfont.woff') format('woff'),
		 url('fonts/ruda-black-webfont.ttf') format('truetype'),
		 url('fonts/ruda-black-webfont.svg#rudablack') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'rudabold';
	src: url('fonts/ruda-bold-webfont.eot');
	src: url('fonts/ruda-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/ruda-bold-webfont.woff2') format('woff2'),
		 url('fonts/ruda-bold-webfont.woff') format('woff'),
		 url('fonts/ruda-bold-webfont.ttf') format('truetype'),
		 url('fonts/ruda-bold-webfont.svg#rudabold') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'rudaregular';
	src: url('fonts/ruda-regular-webfont.eot');
	src: url('fonts/ruda-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/ruda-regular-webfont.woff2') format('woff2'),
		 url('fonts/ruda-regular-webfont.woff') format('woff'),
		 url('fonts/ruda-regular-webfont.ttf') format('truetype'),
		 url('fonts/ruda-regular-webfont.svg#rudaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icons';
	src:url('icons/icons.eot?-cyh6j2');
	src:url('icons/icons.eot?#iefix-cyh6j2') format('embedded-opentype'),
		url('icons/icons.ttf?-cyh6j2') format('truetype'),
		url('icons/icons.woff?-cyh6j2') format('woff'),
		url('icons/icons.svg?-cyh6j2#webstore') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Colors
// --------
$black: #343434;
$tdablue: #2759A4;

body {
	color: $black;
	background: lighten(#EAEAEA, 5%);
}

// Bootstrap Customs
// ------------------
.btn, .form-control {
	border-radius: 0;
}

// Typography
// ----------


// Icons
// ---------
.icon {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add-to-list:before {content: "\e60f";}
.icon-classic-computer:before {content: "\e63a";}
.icon-controller-fast-backward:before {content: "\e62c";}
.icon-user-circle:before {content: "\e600";}
.icon-creative-commons-noderivs:before {content: "\e630";}
.icon-creative-commons-noncommercial-eu:before {content: "\e650";}
.icon-creative-commons-noncommercial-us:before {content: "\e651";}
.icon-creative-commons-public-domain:before {content: "\e659";}
.icon-creative-commons-remix:before {content: "\e65a";}
.icon-creative-commons-share:before {content: "\e65b";}
.icon-creative-commons-sharealike:before {content: "\e65c";}
.icon-creative-commons:before {content: "\e65d";}
.icon-document-landscape:before {content: "\e65e";}
.icon-remove-user:before {content: "\e65f";}
.icon-warning:before {content: "\e601";}
.icon-arrow-bold-down:before {content: "\e660";}
.icon-arrow-bold-left:before {content: "\e661";}
.icon-arrow-bold-right:before {content: "\e662";}
.icon-arrow-bold-up:before {content: "\e663";}
.icon-arrow-down:before {content: "\e664";}
.icon-arrow-left:before {content: "\e665";}
.icon-arrow-long-down:before {content: "\e666";}
.icon-arrow-long-left:before {content: "\e667";}
.icon-arrow-long-right:before {content: "\e668";}
.icon-arrow-long-up:before {content: "\e669";}
.icon-arrow-right:before {content: "\e66a";}
.icon-arrow-up:before {content: "\e66b";}
.icon-arrow-with-circle-down:before {content: "\e66c";}
.icon-arrow-with-circle-left:before {content: "\e66d";}
.icon-arrow-with-circle-right:before {content: "\e66e";}
.icon-arrow-with-circle-up:before {content: "\e66f";}
.icon-bookmark:before {content: "\e656";}
.icon-bookmarks:before {content: "\e670";}
.icon-chevron-down:before {content: "\e671";}
.icon-chevron-left:before {content: "\e672";}
.icon-chevron-right:before {content: "\e673";}
.icon-chevron-small-down:before {content: "\e602";}
.icon-chevron-small-left:before {content: "\e63b";}
.icon-chevron-small-right:before {content: "\e63c";}
.icon-chevron-small-up:before {content: "\e603";}
.icon-chevron-thin-down:before {content: "\e674";}
.icon-chevron-thin-left:before {content: "\e675";}
.icon-chevron-thin-right:before {content: "\e676";}
.icon-chevron-thin-up:before {content: "\e677";}
.icon-chevron-up:before {content: "\e678";}
.icon-chevron-circle-down:before {content: "\e604";}
.icon-chevron-with-circle-left:before {content: "\e646";}
.icon-chevron-with-circle-right:before {content: "\e647";}
.icon-chevron-circle-up:before {content: "\e605";}
.icon-cloud:before {content: "\e679";}
.icon-controller-fast-forward:before {content: "\e67a";}
.icon-controller-jump-to-start:before {content: "\e67b";}
.icon-controller-next:before {content: "\e67c";}
.icon-controller-paus:before {content: "\e67d";}
.icon-controller-play:before {content: "\e67e";}
.icon-controller-record:before {content: "\e67f";}
.icon-controller-stop:before {content: "\e680";}
.icon-controller-volume:before {content: "\e681";}
.icon-dot-single:before {content: "\e63d";}
.icon-dots-three:before {content: "\e606";}
.icon-dots-three-vertical:before {content: "\e682";}
.icon-dots-two-horizontal:before {content: "\e63e";}
.icon-dots-two-vertical:before {content: "\e683";}
.icon-download:before {content: "\e684";}
.icon-emoji-flirt:before {content: "\e685";}
.icon-flow-branch:before {content: "\e686";}
.icon-flow-cascade:before {content: "\e687";}
.icon-flow-line:before {content: "\e688";}
.icon-flow-parallel:before {content: "\e689";}
.icon-flow-tree:before {content: "\e68a";}
.icon-install:before {content: "\e68b";}
.icon-layers:before {content: "\e654";}
.icon-open-book:before {content: "\e68c";}
.icon-resize-100:before {content: "\e68d";}
.icon-resize-full-screen:before {content: "\e68e";}
.icon-save:before {content: "\e68f";}
.icon-select-arrows:before {content: "\e690";}
.icon-sound-mute:before {content: "\e691";}
.icon-buzz:before {content: "\e629";}
.icon-trash:before {content: "\e692";}
.icon-triangle-down:before {content: "\e693";}
.icon-triangle-left:before {content: "\e694";}
.icon-triangle-right:before {content: "\e695";}
.icon-triangle-up:before {content: "\e696";}
.icon-uninstall:before {content: "\e697";}
.icon-upload-to-cloud:before {content: "\e698";}
.icon-upload:before {content: "\e699";}
.icon-add-user:before {content: "\e69a";}
.icon-address:before {content: "\e69b";}
.icon-adjust:before {content: "\e69c";}
.icon-air:before {content: "\e69d";}
.icon-aircraft-landing:before {content: "\e69e";}
.icon-aircraft-take-off:before {content: "\e69f";}
.icon-aircraft:before {content: "\e6a0";}
.icon-align-bottom:before {content: "\e6a1";}
.icon-align-horizontal-middle:before {content: "\e6a2";}
.icon-align-left:before {content: "\e6a3";}
.icon-align-right:before {content: "\e6a4";}
.icon-align-top:before {content: "\e6a5";}
.icon-align-vertical-middle:before {content: "\e6a6";}
.icon-archive:before {content: "\e6a7";}
.icon-area-graph:before {content: "\e6a8";}
.icon-attachment:before {content: "\e63f";}
.icon-awareness-ribbon:before {content: "\e631";}
.icon-back-in-time:before {content: "\e6a9";}
.icon-back:before {content: "\e6aa";}
.icon-bar-graph:before {content: "\e6ab";}
.icon-battery:before {content: "\e6ac";}
.icon-beamed-note:before {content: "\e6ad";}
.icon-bell:before {content: "\e6ae";}
.icon-blackboard:before {content: "\e6af";}
.icon-block:before {content: "\e632";}
.icon-book:before {content: "\e6b0";}
.icon-bowl:before {content: "\e6b1";}
.icon-box:before {content: "\e6b2";}
.icon-briefcase:before {content: "\e652";}
.icon-browser:before {content: "\e655";}
.icon-brush:before {content: "\e6b3";}
.icon-bucket:before {content: "\e6b4";}
.icon-cake:before {content: "\e640";}
.icon-calculator:before {content: "\e6b5";}
.icon-calendar:before {content: "\e6b6";}
.icon-camera:before {content: "\e641";}
.icon-ccw:before {content: "\e6b7";}
.icon-chat:before {content: "\e62d";}
.icon-check:before {content: "\e639";}
.icon-cross-circle:before {content: "\e633";}
.icon-minus-circle:before {content: "\e636";}
.icon-plus-circle:before {content: "\e634";}
.icon-circle:before {content: "\e6b8";}
.icon-circular-graph:before {content: "\e6b9";}
.icon-clapperboard:before {content: "\e6ba";}
.icon-clipboard:before {content: "\e6bb";}
.icon-clock:before {content: "\e6bc";}
.icon-code:before {content: "\e6bd";}
.icon-cog:before {content: "\e62a";}
.icon-colours:before {content: "\e642";}
.icon-compass:before {content: "\e6be";}
.icon-copy:before {content: "\e6bf";}
.icon-credit-card:before {content: "\e643";}
.icon-credit:before {content: "\e644";}
.icon-cross:before {content: "\e635";}
.icon-cup:before {content: "\e6c0";}
.icon-cw:before {content: "\e6c1";}
.icon-cycle:before {content: "\e6c2";}
.icon-database:before {content: "\e6c3";}
.icon-dial-pad:before {content: "\e6c4";}
.icon-direction:before {content: "\e6c5";}
.icon-document:before {content: "\e6c6";}
.icon-documents:before {content: "\e6c7";}
.icon-drink:before {content: "\e6c8";}
.icon-drive:before {content: "\e6c9";}
.icon-drop:before {content: "\e6ca";}
.icon-edit:before {content: "\e6cb";}
.icon-email:before {content: "\e607";}
.icon-emoji-happy:before {content: "\e64d";}
.icon-emoji-neutral:before {content: "\e6cc";}
.icon-emoji-sad:before {content: "\e6cd";}
.icon-erase:before {content: "\e6ce";}
.icon-eraser:before {content: "\e6cf";}
.icon-share:before {content: "\e608";}
.icon-eye:before {content: "\e609";}
.icon-feather:before {content: "\e6d0";}
.icon-flag:before {content: "\e6d1";}
.icon-flash:before {content: "\e6d2";}
.icon-flashlight:before {content: "\e6d3";}
.icon-flat-brush:before {content: "\e6d4";}
.icon-folder-images:before {content: "\e6d5";}
.icon-folder-music:before {content: "\e6d6";}
.icon-folder-video:before {content: "\e6d7";}
.icon-folder:before {content: "\e6d8";}
.icon-share-alt:before {content: "\e60a";}
.icon-funnel:before {content: "\e6d9";}
.icon-game-controller:before {content: "\e6da";}
.icon-gauge:before {content: "\e6db";}
.icon-globe:before {content: "\e60b";}
.icon-graduation-cap:before {content: "\e6dc";}
.icon-grid:before {content: "\e60c";}
.icon-hair-cross:before {content: "\e6dd";}
.icon-hand:before {content: "\e6de";}
.icon-heart-outlined:before {content: "\e60d";}
.icon-heart:before {content: "\e60e";}
.icon-help-with-circle:before {content: "\e6df";}
.icon-help2:before {content: "\e6e0";}
.icon-home2:before {content: "\e653";}
.icon-hour-glass:before {content: "\e6e1";}
.icon-image-inverted:before {content: "\e610";}
.icon-image:before {content: "\e611";}
.icon-images:before {content: "\e612";}
.icon-inbox:before {content: "\e6e2";}
.icon-infinity:before {content: "\e6e3";}
.icon-info-circle:before {content: "\e613";}
.icon-info:before {content: "\e614";}
.icon-key:before {content: "\e6e4";}
.icon-keyboard:before {content: "\e6e5";}
.icon-lab-flask:before {content: "\e6e6";}
.icon-landline:before {content: "\e6e7";}
.icon-language:before {content: "\e6e8";}
.icon-laptop:before {content: "\e645";}
.icon-leaf:before {content: "\e615";}
.icon-level-down:before {content: "\e6e9";}
.icon-level-up:before {content: "\e6ea";}
.icon-help:before {content: "\e616";}
.icon-light-bulb:before {content: "\e6eb";}
.icon-light-down:before {content: "\e6ec";}
.icon-light-up:before {content: "\e6ed";}
.icon-line-graph:before {content: "\e6ee";}
.icon-link:before {content: "\e64e";}
.icon-list:before {content: "\e6ef";}
.icon-location-1:before {content: "\e617";}
.icon-location-2:before {content: "\e618";}
.icon-lock-open:before {content: "\e6f0";}
.icon-lock:before {content: "\e619";}
.icon-log-out:before {content: "\e6f1";}
.icon-login:before {content: "\e6f2";}
.icon-loop:before {content: "\e6f3";}
.icon-magnet:before {content: "\e6f4";}
.icon-magnifying-glass:before {content: "\e6f5";}
.icon-mail:before {content: "\e6f6";}
.icon-user:before {content: "\e61a";}
.icon-map:before {content: "\e6f7";}
.icon-mask:before {content: "\e6f8";}
.icon-medal:before {content: "\e648";}
.icon-megaphone:before {content: "\e61b";}
.icon-menu:before {content: "\e6f9";}
.icon-message:before {content: "\e62e";}
.icon-mic:before {content: "\e6fa";}
.icon-minus:before {content: "\e637";}
.icon-mobile:before {content: "\e6fb";}
.icon-modern-mic:before {content: "\e6fc";}
.icon-moon:before {content: "\e6fd";}
.icon-mouse:before {content: "\e6fe";}
.icon-music:before {content: "\e6ff";}
.icon-network:before {content: "\e700";}
.icon-new-message:before {content: "\e61c";}
.icon-new:before {content: "\e657";}
.icon-news:before {content: "\e61d";}
.icon-note:before {content: "\e701";}
.icon-notification:before {content: "\e702";}
.icon-old-mobile:before {content: "\e703";}
.icon-phone:before {content: "\e61e";}
.icon-palette:before {content: "\e704";}
.icon-paper-plane:before {content: "\e61f";}
.icon-pencil:before {content: "\e705";}
.icon-phone2:before {content: "\e706";}
.icon-pie-chart:before {content: "\e707";}
.icon-pin:before {content: "\e708";}
.icon-plus:before {content: "\e638";}
.icon-popup:before {content: "\e709";}
.icon-power-plug:before {content: "\e70a";}
.icon-price-ribbon:before {content: "\e649";}
.icon-price-tag:before {content: "\e62f";}
.icon-print:before {content: "\e70b";}
.icon-progress-empty:before {content: "\e70c";}
.icon-progress-full:before {content: "\e70d";}
.icon-progress-one:before {content: "\e70e";}
.icon-progress-two:before {content: "\e70f";}
.icon-publish:before {content: "\e710";}
.icon-quote:before {content: "\e711";}
.icon-radio:before {content: "\e712";}
.icon-reply-all:before {content: "\e713";}
.icon-reply:before {content: "\e714";}
.icon-retweet:before {content: "\e715";}
.icon-rocket:before {content: "\e620";}
.icon-round-brush:before {content: "\e716";}
.icon-rss:before {content: "\e717";}
.icon-ruler:before {content: "\e718";}
.icon-scissors:before {content: "\e719";}
.icon-share-alternitive:before {content: "\e62b";}
.icon-share2:before {content: "\e71a";}
.icon-shareable:before {content: "\e71b";}
.icon-shield:before {content: "\e64a";}
.icon-shop:before {content: "\e621";}
.icon-shopping-bag:before {content: "\e71c";}
.icon-shopping-basket:before {content: "\e622";}
.icon-shopping-cart:before {content: "\e623";}
.icon-shuffle:before {content: "\e71d";}
.icon-signal:before {content: "\e71e";}
.icon-sound-mix:before {content: "\e71f";}
.icon-sports-club:before {content: "\e720";}
.icon-spreadsheet:before {content: "\e721";}
.icon-squared-cross:before {content: "\e722";}
.icon-squared-minus:before {content: "\e723";}
.icon-squared-plus:before {content: "\e724";}
.icon-star-outlined:before {content: "\e64b";}
.icon-star:before {content: "\e64c";}
.icon-stopwatch:before {content: "\e725";}
.icon-suitcase:before {content: "\e726";}
.icon-swap:before {content: "\e727";}
.icon-sweden:before {content: "\e728";}
.icon-switch:before {content: "\e729";}
.icon-tablet:before {content: "\e72a";}
.icon-tag:before {content: "\e72b";}
.icon-text-document-inverted:before {content: "\e72c";}
.icon-text-document:before {content: "\e72d";}
.icon-text:before {content: "\e72e";}
.icon-thermometer:before {content: "\e72f";}
.icon-thumbs-down:before {content: "\e730";}
.icon-thumbs-up:before {content: "\e624";}
.icon-thunder-cloud:before {content: "\e731";}
.icon-ticket:before {content: "\e732";}
.icon-time-slot:before {content: "\e733";}
.icon-tools:before {content: "\e734";}
.icon-traffic-cone:before {content: "\e735";}
.icon-tree:before {content: "\e736";}
.icon-trophy:before {content: "\e737";}
.icon-tv:before {content: "\e738";}
.icon-typing:before {content: "\e739";}
.icon-unread:before {content: "\e73a";}
.icon-untag:before {content: "\e73b";}
.icon-user2:before {content: "\e64f";}
.icon-users:before {content: "\e658";}
.icon-v-card:before {content: "\e625";}
.icon-video:before {content: "\e73c";}
.icon-vinyl:before {content: "\e73d";}
.icon-voicemail:before {content: "\e73e";}
.icon-wallet:before {content: "\e626";}
.icon-water:before {content: "\e73f";}
.icon-500px-with-circle:before {content: "\e740";}
.icon-500px:before {content: "\e741";}
.icon-basecamp:before {content: "\e742";}
.icon-behance:before {content: "\e743";}
.icon-creative-cloud:before {content: "\e744";}
.icon-dropbox:before {content: "\e745";}
.icon-evernote:before {content: "\e746";}
.icon-flattr:before {content: "\e747";}
.icon-foursquare:before {content: "\e748";}
.icon-google-drive:before {content: "\e749";}
.icon-google-hangouts:before {content: "\e74a";}
.icon-grooveshark:before {content: "\e74b";}
.icon-icloud:before {content: "\e74c";}
.icon-mixi:before {content: "\e74d";}
.icon-onedrive:before {content: "\e74e";}
.icon-paypal:before {content: "\e627";}
.icon-picasa:before {content: "\e74f";}
.icon-qq:before {content: "\e750";}
.icon-rdio-with-circle:before {content: "\e751";}
.icon-renren:before {content: "\e752";}
.icon-scribd:before {content: "\e753";}
.icon-sina-weibo:before {content: "\e754";}
.icon-skype-with-circle:before {content: "\e755";}
.icon-skype:before {content: "\e756";}
.icon-slideshare:before {content: "\e757";}
.icon-smashing:before {content: "\e758";}
.icon-soundcloud:before {content: "\e759";}
.icon-spotify-with-circle:before {content: "\e75a";}
.icon-spotify:before {content: "\e75b";}
.icon-swarm:before {content: "\e75c";}
.icon-vine-with-circle:before {content: "\e75d";}
.icon-vine:before {content: "\e75e";}
.icon-vk-alternitive:before {content: "\e75f";}
.icon-vk-with-circle:before {content: "\e760";}
.icon-vk:before {content: "\e761";}
.icon-xing-with-circle:before {content: "\e762";}
.icon-xing:before {content: "\e763";}
.icon-yelp:before {content: "\e764";}
.icon-dribbble-with-circle:before {content: "\e765";}
.icon-dribbble:before {content: "\e766";}
.icon-facebook-with-circle:before {content: "\e767";}
.icon-facebook:before {content: "\e628";}
.icon-flickr-with-circle:before {content: "\e768";}
.icon-flickr:before {content: "\e769";}
.icon-github-with-circle:before {content: "\e76a";}
.icon-github:before {content: "\e76b";}
.icon-google-with-circle:before {content: "\e76c";}
.icon-google:before {content: "\e76d";}
.icon-instagram-with-circle:before {content: "\e76e";}
.icon-instagram:before {content: "\e76f";}
.icon-lastfm-with-circle:before {content: "\e770";}
.icon-lastfm:before {content: "\e771";}
.icon-linkedin-with-circle:before {content: "\e772";}
.icon-linkedin:before {content: "\e773";}
.icon-pinterest-with-circle:before {content: "\e774";}
.icon-pinterest:before {content: "\e775";}
.icon-rdio:before {content: "\e776";}
.icon-stumbleupon-with-circle:before {content: "\e777";}
.icon-stumbleupon:before {content: "\e778";}
.icon-tumblr-with-circle:before {content: "\e779";}
.icon-tumblr:before {content: "\e77a";}
.icon-twitter-with-circle:before {content: "\e77b";}
.icon-twitter:before {content: "\e77c";}
.icon-vimeo-with-circle:before {content: "\e77d";}
.icon-vimeo:before {content: "\e77e";}
.icon-youtube-with-circle:before {content: "\e77f";}
.icon-youtube:before {content: "\e780";}