@import "global";

@mixin panelshadow {
	background: #FFF;
	box-shadow: 0 2px 2px rgba(#000, 0.15);
}

.navbar {
	background: $tdablue;
	border-radius: 0;
	.nav {
		li a {
			color: lighten($tdablue, 30%);
			&:hover, &:focus { color: #FFF; }
		}
	}
	.tda-logo {
		position: absolute;
		margin-left: 0; margin-right: 0;
		left: 0; right: 0;
		img {
			margin: 5px;
			@media (min-width: $screen-xs-max) { margin: 2px; }
			height: 45px;
		}
	}
}

#intro {
	text-align: center;
	img {
		width: 100%;
		@media (min-width: $screen-xs-max) { width: auto; }
	}
}

.search_field {
	@include panelshadow;
	padding: 20px 10px;
	@extend .clearfix;
	form > div { margin: 5px 0; }
}

.ads-listing {
	margin-top: 20px;
	margin-bottom: 10px;
}

.ads-card {
	background: #FFF;
	border: 1px solid #CCC;
	margin-bottom: 10px;
	.ads-title, .ads-price { margin: 0 }
	.ads-info { display: block; }

	.ads-secondary-info {
		display: block;
		margin-top: 4px;
		font-size: 0.7em;
		color: #999;
		a { color: #999; }
	}
	.ads-price {
		margin: 3px 0;
		color: $brand-danger;
	}

	.ads-title, .ads-price, .ads-info, .ads-secondary-info {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	// Mobile View
		.ads-image {
			position: absolute;
			width: 100px;
			height: 100px;
			overflow: hidden;
			img { height: 100%; }
		}
		.ads-content {
			padding: 10px;
			padding-left: 110px;
			background: #FFF;
			height: 100px;
		}

	// Desktop View
		@media (min-width: $screen-xs-max) {
			margin-bottom: 20px;
			.ads-image {
				position: relative;
				width: 100%;
				height: 200px;
				overflow: hidden;
				img { width: 100%; height: auto;}
			}
			.ads-content { padding-left: 10px; }
			text-align: center;
		}
}